.container {
  height: 100%;
  font-size: 14px;
  width: 890px;
  margin: auto;
}

.information {
  display: flex;
  justify-content: space-between;
}

.box {
  width: 970px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  .cell {
    border-right: none;
    border-bottom: none;
  }
  .cell:nth-child(8n) {
    border-right: 1px solid black;
  }
  .cell:nth-child(n+57) {
    border-bottom: 1px solid black;
  }
  .information {
    display: block;
  }
}
.cell {
  width: 100px;
  height: 70px;
  border: 1px solid black;
  padding: 5px;
  div {
    cursor: pointer;
  }
}